/* Default post layout */

.post-intro {
  @include mobile-grid;
  @include medium {
    grid-template-columns: 1.5fr 4fr 4fr 1.5fr;
  }
}

.post-template-default h1 {
  grid-column: 2/4;
}

.post-template-default .page-content {
  grid-column: 2/4;
}
