{# Page Name: 404 #}

{% extends "layouts/base.twig" %}

{% block content %}
	<section class="not-found">
		<h1>Not Found (404)</h1>
	  <p>Sorry, we couldn't find what you're looking for.</p>
  </section>
{% endblock %}
