body {
  color: #001a66;
  display:flex;
  font-family: 'Source Sans Pro';
}

h4 {
  margin: 0;
}

h5 {
  margin-bottom: 0;
  margin-top: 5px;
}

p {
  font-size: .9em;  
}

.left-content {
  max-width: 275px;
  width: 25%;
}

.right-content {
  width: 68%;
}

#city-select {
  background: #eff3ff; 
  border: 0;
  border-radius: 5px;  
  height: 40px;
  font-size: 14px;  
  width: 200px;
}

#forecast {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.darkmode #forecast {
  border: 5px solid #eff3ff;
}

.weekly-forecast {
  display: flex;
  flex: 0 0 auto;
  list-style: none;
  margin: 0;
  max-width: 1200px;
  padding: 0;
}

.darkmode .weekly-forecast {
  background: #001a66;
  color: #fff;
}

.weekly-forecast li {
  padding: 10px 0 10px 0;
  width: 10%;
}

.weekly-forecast li {
  padding-left: 10px;
}

.weekly-forecast li:not(:last-of-type) {
  border-right: 1px solid #001a66;
  padding-right: 10px;  
}

.darkmode .weekly-forecast li:not(:last-of-type) {
  border-right: 1px solid #fff;
}

.day {
  align-items: center;  
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.today {
  background: #eff3ff;
  border: 0;
  color: #001a66;
  zoom: 115%;
}
.today:not(:first-of-type) {
  border-left: 0;
}